version: '3.8'

services:
  postgres:
    container_name: postgres_container
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-postgres}
      POSTGRES_PORT: ${POSTGRES_PORT:-5432}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - '${POSTGRES_PORT:-5432}:5432'
    restart: unless-stopped
    networks:
      - app_network

  app:
    container_name: node_app_container
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-postgres}@postgres:5432/${POSTGRES_DB:-postgres}
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-postgres}
      JWT_SECRET: ${JWT_SECRET:-ILIACHALLENGE}
      JWT_EXPIRES_IN: ${JWT_EXPIRES_IN:-3600}
      NODE_ENV: ${NODE_ENV:-development}
      PORT: ${PORT:-3001}
    ports:
      - '3001:3001'
    depends_on:
      - postgres
    restart: unless-stopped
    networks:
      - app_network
    volumes:
      - ./src:/app/src
    command: >
      sh -c "
        echo 'Aguardando PostgreSQL...' &&
        sleep 5 &&
        npx prisma migrate deploy &&
        echo 'Migrações concluídas, iniciando aplicação...' &&
        node dist/src/main
      "

volumes:
  postgres_data:

networks:
  app_network:
    driver: bridge
